<!--creates form, exectues the authenticate method when the submit button is clicked-->
<%= form_tag :action=>'authenticate' %>
User name:
<%= text_field("userform", "username",:size=>"20" ) %> <br />
Password: 
<%= password_field("userform", "password",:size=>"20" )%><br />
<input type="submit" value=" LOGIN " />

